#card-set-container{
    
    overflow-x: scroll; /* Use scroll to enable scrolling */
    -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;
    overflow-x: auto;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
  }

#card-set{
    display: flex;
    margin-top: 20px;
    width: 1950px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: white;
    gap: 30px;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

#card-set-container-new{
    overflow-x: scroll; 
    -ms-overflow-style: none;  
    scrollbar-width: none;
    overflow-x: auto;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* white-space: nowrap;  */
      
  }

#card-set-new{

    display: flex; 
    margin-top: 20px;
    width: 8200px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: white;
    gap: 30px;
    display: flex;
    transition: transform 0.3s ease-in-out;
    animation: scroll-right 20s linear infinite; 
    /* white-space: nowrap;  */
}

@keyframes scroll-right {
    0% {
        transform: translateX(0); /* Start at the initial position */
    }
    100% {
        transform: translateX(-20%); /* Move the set by 50% of its width */
    }
}

#card-set-new-left{
    display: inline-flex; /* Make the cards loop and move right continuously */
    margin-top: 20px;
    width: 8200px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: white;
    gap: 30px;
    display: flex;
    transition: transform 0.3s ease-in-out;
    animation: scroll-left 20s linear infinite; /* Animation to scroll the cards */
    /* white-space: nowrap;  */
}

@keyframes scroll-left {
    0% {
        transform: translateX(-20%); /* Start at the initial position */
    }
    100% {
        transform: translateX(0%); /* Move the set by 50% of its width */
    }
}

#whycode{
    background: white;
    padding: 2rem;
    padding-left: 4rem;
    margin-top: 20px;
}

@media (max-width: 440px) {
    #welcomefont {
        font-size: 20px;
    }

    #card-set{
        display: flex;
        margin-top: 20px;
        width: 1500px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background: white;
        gap: 30px;
        display: flex;
        transition: transform 0.3s ease-in-out;
    }
  }